:root {
}

body {
  font-family:roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background: #ffffff;
}
.list {
  list-style: none;
  font-style: normal;

}

.link {
  text-decoration: none;}
/*Menu Nav Верхняя линия*/
.web {
  color: #2196f3;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;
}
.my-web {
  color: #212121;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;
}

.my-head:hover,
:focus {
  color: #2196f3;
  font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
}
.mi-head{
  font-family: Raleway;
   color: #2196f3;
  font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

}
.my-head {
  color: #212121;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
}
.contact:hover,
:focus {
  color: #2196f3;
  font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

}
.contact {
  color: #757575;
  font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

}
/*Герой*/
.panel {
  background: #2f303a;
}
.solutions {
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.my-button:hover,
:focus  {

  background: #2196f3;
  color: #ffffff;
  font-size: 16px;
line-height: 30px;
 font-family: inherit;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
background: #2196F3;
border-radius: 4px;
}

/*Подразумевается заголовок Преимущества*/

.project {
  color: #212121;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}
.text {
  color: #757575;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.com {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

/* Команда*/
.my-com{
  background: #F5F4FA;
}
.work {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.section-work {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
/*Футер*/
.my-footer {
  background: #2f303a;
}
.address link{
  font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;

color: #FFFFFF;
}
.contact-footer{
  font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);

}
.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: #ffffff;
}

.contact-footer {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
/*Подразумевается заголовок h1 Проекты*/
.it-button{background: #2196f3;
  color: #ffffff;
  letter-spacing: 0.03em;ccccccccc  

}
.button:focus,
.button:hover {
  background: #2196f3;
  color: #ffffff;
  letter-spacing: 0.03em;
}
/*Подразумевается заголовок h1 Проекты*/
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;

  letter-spacing: 0.06em;

  color: #212121;
}
.my-title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;

  letter-spacing: 0.03em;

  color: #757575;
}
