:root {
  --text-black-color:#212121;
  --text-grey-color:#757575;
  --text-white-color:#ffffff;
  }
  body {
    font-family:roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-white-color);
  }
  .list { list-style: none;
  color: var(--text-black-color);
  }
  .section-list{
    display: flex;
  }
  .hsm{
    color: #212121;

  }
  .container{
    margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
  }
  .img-list{ display: flex;
  flex-wrap: wrap;}
  .link {
    text-decoration: none;}
  /*Menu Nav Верхняя линия*/
  .nav-site{
    display: flex;
  }
  .web {
    color: #2196f3;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
  
    letter-spacing: 0.03em;
  }
  .my-web {
    color: var(--text-black-color);
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
  
    letter-spacing: 0.03em;
  }
  
  .my-head:hover,
  .my-head:focus {
    color: #2196f3;
    font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  }
  .site-list{
    display: flex;
  }
  .contact-list{
    display: flex;
  }
  .mi-head{
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  
  color: #2196F3; 
  
  }
  .my-head {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  
  color: var(--text-black-color);
  
  }
  .contact:hover,
  .contact:focus {
    color: #2196f3;
    font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  
  }
  .contact {
   color: var(--text-grey-color);
    font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  
  }
  /*Герой*/
  .panel {
    padding-top: 0;
    padding-bottom: 0;
    background: #2f303a;
  }
  .my-button
    {
      margin: 0;
      padding: 0;
  background: #188CE8;
  color: var(--text-white-color);
  border-radius: 4px;
  font-size: 16px;
  line-height: 30px;
  
  letter-spacing: 0.06em;
  border-radius: 4px;
  }
  
  .my-button:focus{
  
  background: #2196F3;      
  border-radius: 4px;
  }
  .solutions {
    padding: 0;
    margin: 0;
    color: var(--text-white-color);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  
  
  /*Подразумевается заголовок Преимущества*/
  .main-list{display: flex;}
  .project {
    margin: 0;
    font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: var(--text-black-color)
  }
  .text {
    margin: 0;
   font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  
  
  letter-spacing: 0.03em;
  
  color: var(--text-grey-color);
  }
  .com {margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
  
   color: var(--text-black-color)
  }
  
  /* Команда*/
  .work-list{
    display: flex;
  }
  .my-com{
    background: #F5F4FA;
  }
  .work {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  
    text-align: center;
    letter-spacing: 0.03em;
  
    color: var(--text-black-color)
  }
  .section-work {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  
    text-align: center;
    letter-spacing: 0.03em;
  
    color: var(--text-grey-color);
  }
  /*Футер*/
  .my-footer {
    background: #2f303a;
  }
  .address link{
    font-size: 14px;
  line-height: 24px;
  
  letter-spacing: 0.03em;
  
  color: var(--text-white-color);
  }
  .contact-footer{
    font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  
  letter-spacing: 0.03em;
  
  color: rgba(255, 255, 255, 0.6);
  
  }
  .address {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  
    letter-spacing: 0.03em;
  
    color: var(--text-white-color);
  }
  
  .contact-footer {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  
    letter-spacing: 0.03em;
  
    color: rgba(255, 255, 255, 0.6);
  }
  /*Подразумевается заголовок h1 Проекты*/
  .button-list{display: flex;}
  .it-button
  {background: #2196f3;
    color: var(--text-white-color);
    letter-spacing: 0.03em;
  
  }
  .button:focus
   {background: #F5F4FA;
  
    letter-spacing: 0.03em;
  }
  
  .button:hover{
    background: #2196F3;
  border-radius: 4px;
  }
  /*Подразумевается заголовок h1 Проекты*/
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
  
    letter-spacing: 0.06em;
  
   color: var(--text-black-color)
  }
  .my-title {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
  
    letter-spacing: 0.03em;
  
    color: var(--text-grey-color);
  }
  .mi-footer{
    color: var(--text-white-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  }